<!DOCTYPE html>

<html>
<head>
    <title>[TheRooms]</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px">
        <a href="/rooms/1">
            Войти <br />в комнату
        </a>
    </div>
</body>
</html>